@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

#pageTitle {
  font-family: Kalam;
  font-size: 60px;
  margin: 0px;
  margin-top: 2vh;
}

#pageSubtitle {
  font-family: Neucha, cursive;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 5px;
  color: lightgray;
}

#inputPane {
  margin-top: 3vh;
}

#inputCityName {
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  width: 22vw;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
#inputCityName:hover {
  outline: none;
  border-bottom: 2px solid #cdcdcd;
}
#inputCityName:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.flexDiv {
  display: flex;
  justify-content: center;
}

.iconSearch {
  color: gray;
}
.iconSearch:hover {
  color: white;
}

#map {
  margin-top: 3vh;
}

#selected {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 5px;
  margin: 0px;
}

#selectedCountry {
  font-family: Kalam;
  font-size: 50px;
  margin: 0px;
}
p {
  margin: 2px
}